*{
    margin: 0px;
    padding:0px;    
    font-family: 'Nunito',sans-serif;
    color: black;
}
/* LACHLANS CSS CODE */
/* NAVBAR */
.navbar-brand{  
    color:#04AA6D;
    font-size: 18px;
}
.navbar-brand:hover{
    color: #04AA6D;
}
.nav-link{
    color: white;
    font-size: 18px;
}
.nav-link:hover{
    color: white;
}
a.nav-link.dropdown-toggle{
    padding: 10px 10px;
}
a.dropdown-item{
    font-size: 18px;
}
p.dropdown-item1 {
    color: #04AA6D;
    text-align: center;
    margin-bottom: 1px;
    font-size: 18px;
}
a.nav-link.dropdown-toggle:hover{
    background-color:#04AA6D ;
    height:200%;
   
}
.navbar{
    background-color:  #1D2A35 !important;
    position: relative;
    top: 0;
    width: 100%;
    height: 50%;
}
.navbar-toggler-icon{
    background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='green' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>") ;
}
button.navbar-toggler{
    position:relative ;
    right: 70%;
}
button.navbar-toggler.collapsed{
    position: relative;
}
.navbar-toggler{
   border:3px solid  #04AA6D;
   padding: 0.1rem;
}
.navbar-toggler-icon {
   display: inline-block;
   width: 0.5em;
   height: 0.5em;
   vertical-align: middle;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
}
ul.dropdown-menu.show{
    position: absolute;
    background-color: #282A35;
}
div.container-fluid{
    padding: 0px 30px;
}
a.nav-link{
    text-align: center;
}
.nav-line{
    height: 5px;
    background: #04AA6D;
    border: none;  
}
span.navbar-toggler-icon{
    width: 25px;
    height: 20px;
    padding: 0.8rem;
}
.log{
    position: absolute;
    right: 20px;
    top:2%;
    background-color: #4CAF50;
    border: none;
    color:white;
    padding:10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
}
.get{
    position: absolute;
    right: 120px;
    top:2%;
    background-color: #FFC0C7;
    border: none;
    color:black;
    padding:10px 15px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
}
.get:hover{
    background-color: #4CAF50;
    color:white;
}
.navbar-nav .dropdown-menu {
    position: absolute;
}
.log:hover{
    color: black;
}
.dropdown-item {
    width: 100%;
    clear: both;
    font-weight: 400;
    color:#FFF4A3;
    text-align: center;
    text-decoration: none;
    background:#282A35 ;
}
/* BELOW NAVBAR content */
.container2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(13,23,33);
}
.cont-head{
    position: relative;     
    color: aliceblue;
    padding: 5vm;
    font-size: 60px;
    top:20%;
    text-align: center;
    margin: 0;
    
}
.p{
    font-size: 21px;
    color: pink;
    position: relative;  
    top:20%;
    text-align: center;
    padding: 5vm; 
}
.hyper{
    font-size: 21px;
    position: absolute; 
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 21px;
    color: pink;
    top:65%;
    padding: 5vm;   
}
.hyper:hover{
    color: #04AA6D;
}
.search{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input{
    border: 5px solid #04AA6D;
    height: 50px;
    width: 400px;
    border-radius: 50px;
    padding: 0px 10px;
    outline: none !important;
}
.sbutton{
    position: absolute;
    top: 25%;
    right: 3.5%;
}
i.fa-search:before {
    content: "\f002";
    background-color: #04AA6D;
    padding: 15px;
    margin-left: 23%;
    border-radius: 50px;
}
/* TEST SEARCH */

/* END TEST SEARCH */

/* END OF  CODE */



/* OMKARS CSS CODE */
.container3{
    position: absolute;
    top:100% ;
    display: flex;
    width: 100%;
    height: auto;
    border-top: #04AA6D;
    background-color:black;
    flex-direction: column;
}
.cont-header{
    position: relative;
    top: 5%;
    margin-left: 15%;
    font-size:100px ;
}
.below-cont{
    position: relative;
    top: 2%;
    margin-left: 15%;
    font-weight: bolder;
    color:#04AA6D;
}
.hbuttons{
    top: 2%;
    left: 15%;
    width: 260px;
    position: relative;
    background: rgb(48, 46, 46);
    color: white;
    text-decoration: none;
    text-transform: '';
    font-size: 0.4cm;
    letter-spacing: 0.07cm;
    font-weight: 400;
    padding:15px 30px;
    transition: 0.5s;
    text-align: center;
}
.hbuttons:hover{
    letter-spacing: 0.15cm;
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
.hbuttons::before{
    content: '';
    position:absolute;
    inset: 2px;
    background:black;
}
.hbuttons span1{
    position: relative;
    z-index: 1;
}

.hbuttons i{
    position: absolute;
    inset: 0;
    display: block;
}
.hbuttons i::before{
    content: '';
    position: absolute;
    top:-6px;
    left:100%;
    transform: translateX(-50%);
    width:10px;
    height: 10px;
    background: black;
    border: 2px solid var(--clr);
    transition: 0.5s;
}
.hbuttons:hover i::before{
    left:-4%;
    transform: translateX(50%) rotate(45deg);
    box-shadow: 38px 38px var(--clr);
}
.hbuttons i::after{
    content: '';
    position: absolute;
    bottom:-6px;
    left:0%;
    transform: translateX(-50%);
    width:10px;
    height: 10px;
    background: black;
    border: 2px solid var(--clr);
    transition: 0.5s;
}
.hbuttons:hover i::after{
    left:100%;
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 36px -38px var(--clr);
}
.block{
    position:absolute;
    background-color: #aaafad;
    margin-top: 21%;
    margin-left:45%;
    width: 50%;
    height:53%;
}
.hbuttons{
    text-align: center;
    padding:15px;
    margin-left: 5px;
}
element.style {
    padding: 16px;
}
.grey-color {
    background-color: #D9EEE1;
    position: relative;
    margin-top: -35%;
    margin-left: 50%;
    color: #000;
}
.grey-color:hover{
    box-shadow: 32px -33px var(--clr);
}

.try{
    top:57.7%;
    left: 1%;
    text-align: center;
    position:relative;
    text-decoration: none;
    padding:6px 20px;
    background-color: #04AA6D;
    font-size: 19px;
    border-radius: 30px;
}

@media only screen and (max-width:768px) {
    .grey-color{
        margin-top:17% ;
        margin-left:4%;
        position: relative;
    }
    .hbuttons{
        left:80px;
        top:0%;
    }
    .try{
        top:92%;
        position: relative;
        left:6px;
    }
   
}
@media (max-width: 600px){
    .w-hide-small {
     display: none!important;
    }
 }
.w-round, .w-round-medium {
    border-radius: 5px;
}
.w-card, .w-card-2 {
    box-shadow: 12px 12px 12px 0 rgba(177, 175, 172, 0.16), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.w-round, .w-round-medium {
    border-radius: 4px;
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    display: block;
    font-size: 1.17em;
    color: black;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
element.style {
    height: 300px;
}
.w-code, w-codeline {
    font-size: 18px;
}
.w-section, .w-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.w-code {
    width: auto;
    background-color:rgb(34, 33, 33);
    color:wheat;
    padding: 8px 12px;
    border-left: 4px solid #13f81a;
    word-wrap: break-word;
}
/* END OF CODE */


/* MAYURS CSS CODE */
.container4{
    position: absolute;
    top:200% ;
    
    width: 100%;
    height:auto;/*Adjust later accordin to your content */
    border-top: #04AA6D;
    background-color:#FFF4A3;
   
}
/* END OF CODE */